body{
	margin:25px;
}
#logo {
    color: #00661a;
    text-align: center;
	display: inline-block;
}

body{
	font-family: "Palatingo Linotype","Book Antiqua", Palatino, serif;
}

#bookjournalmenu a{
	font-size:20px;
	color:#660000;
}
.loaded_module{
	padding:30px;
}
.loaded_module > h1{
	font-size : 18px;
	font-weight:bold;
	color:#eb0a4e;
}

.form-group input,select{
	max-width:400px;
}

#formReference,#formChangeName,#tableShowReferences{
	padding-top:20px;
	display:none;
}